@import 'bootstrap';
@import 'bootstrap/theme';

$white: #fff;
$text-grey: #888;
$background-color: #f1f1f1;
$event-card-background-color: #fff;
$event-card-border-grey: #eee;
$event-card-shadow-color: #888;

body {
  background-color: $background-color;
  color: $text-grey;
}

nav {
  background-color: $white;
  height: 40px;
}

.website-footer {
  background-color: $white;
  height: 36px;
}

.website-footer-text {
  color: $text-grey;
  font-weight: 300;
  margin-top: 9px;
  text-align: center;
}

.welcome-banner {
  color: $text-grey;
  font-size: 3em;
  text-align: center;
}

.event-card {
  background-color: $event-card-background-color;
  border: 1px solid $event-card-border-grey;
  border-radius: 15px;
  box-shadow: 10px 10px 5px $event-card-shadow-color;
  margin: 15px;
  padding: 15px;
}

.event-card-more {
  span {
    text-decoration: underline;
  }

  div {
    display: none;
  }
}

.event-card-more:hover {
  div {
    display: block;
  }
}

.tile-close-button {
  float: right;
}

.hidden {
  display: none;
}

.website-logo {
  height: auto;
  margin-bottom: 10px;
  max-height: 30px;
  overflow: hidden;
  width: auto;
}
