@import 'breakpoint';

body {

  @include breakpoint(small) {
    font-size: $font-size * 1.5;
  }

  @include breakpoint(medium) {
    font-size: $font-size * 1;
  }

  @include breakpoint(large) {
    font-size: $font-size * .75;
  }

}
