// typography file
$san-serif-family: tahoma, arial, san-serif;
$line-height: 1.5;
$table-line-height: 80px;
$font-size: 20px;
$vertical-margin: 40px;
$horizontal-padding: 5px;
$header-line-height: 1.8;
