<label for="category-selector">Select Category</label><br />
{{drop-down
  content=categories
  value=newCategory
  selectClass="dropdown-class form-control"
  optionValuePath="id"
  optionLabelPath="label"}}
