<h2>Categories</h2>

<br />
<br />

{{#each model as |category|}}
  <div class="col-xs-12">
    Name: {{category.label}} <br />
    ID: {{category.title}}<br />
    Attractions:
    <ul>
      {{#each category.attractions as |attraction|}}
        {{attraction.title}}
      {{/each}}
    </ul>
  </div>
{{/each}}
