<h2>Included Categories</h2>

<br />
<br />

<div class="col-xs-6">
  <table class="table table-striped table-condensed table-bordered table-hover">
    <tbody>
      <tr>
        <th>Index</th>
        <th>Name</th>
        <th>ID</th>
      </tr>
      {{#each model as |category index|}}
        <tr>
          <td>{{index}}</td>
          <td>{{category.label}}</td>
          <td>{{category.title}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
