<nav>
  {{#link-to "sign-up"}}Sign Up{{/link-to}}
  {{!-- {{#link-to "sign-in"}}Sign In{{/link-to}} --}}
  {{!-- {{#link-to "change-password"}}Change Password{{/link-to}} --}}
  {{!-- {{#link-to "sign-out"}}Sign Out{{/link-to}} --}}
</nav>

<h1>Welcome to Ember!</h1>

<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>
