<h2>Team</h2>

<div class="col-xs-10 col-xs-offset-1 white-background-div" style="padding: 50px;">

  <div class="col-xs-5" style="text-align: center;">
    <figure>
      <img src="https://i.imgsafe.org/b87f2db2aa.jpg" height="200" class="profile-picture">
      <h3><span>Misha Herscu</span></h3>
    </figure>
  </div>

  <div class="col-xs-5" style="text-align: center;">
    <figure>
      <img src="https://i.imgsafe.org/b88b6d3719.jpeg" height="200" class="profile-picture">
      <h3><span>Paul Herscu</span></h3>
    </figure>
  </div>
</div>
