<h2>Set Interests</h2>
<br>
<br>
{{#each model as |attraction|}}
  {{#if attraction.description}}
    {{attraction-event
      attraction=attraction
      likeAttraction="likeAttraction"
      dislikeAttraction="dislikeAttraction"}}
  {{/if}}
{{/each}}
