<h2>Profile</h2>
<br />
{{user-profile
  user=model
  removeFriend="removeFriend"
  cancelRequest="cancelRequest"
  acceptRequest="acceptRequest"
  declineRequest="declineRequest"
  changePassword="changePassword"
  editProfile="editProfile"
  deleteProfile="deleteProfile"}}
