<h2>Profile</h2>
<br />
{{user-profile
  user=model.user
  friends=model.friends
  awaitingApproval=model.awaitingApproval
  pendingRequests=model.pendingRequests
  removeFriend="removeFriend"
  cancelRequest="cancelRequest"
  acceptRequest="acceptRequest"
  declineRequest="declineRequest"
  unRequestFriend="unRequestFriend"
  changePassword="changePassword"
  editProfile="editProfile"
  deleteProfile="deleteProfile"
  viewKeywords="viewKeywords"}}
