<h2>Your Search Keywords</h2>
<h4>{{#link-to "profile"}}Return to Profile{{/link-to}}</h4>
<br />
{{manage-keywords
  keywords=model.keywords
  keywordsBool=model.keywordsBool
  viewProfile="viewProfile"
  addKeyword="addKeyword"
  removeKeyword="removeKeyword"
  updateKeywordSearch="updateKeywordSearch"
  removeSelectedKeywords="removeSelectedKeywords"
  removeAllKeywords="removeAllKeywords"
  selectKeyword="selectKeyword"
  unSelectKeyword="unSelectKeyword"}}
