<h2>Recommended Events</h2>

<br>
<br>
{{#each model as |attraction|}}
  {{#if attraction.description}}
    {{#if attraction.medium_image_url}}
      {{attraction-suggestion
        attraction=attraction
        likeAttraction="likeAttraction"
        dislikeAttraction="dislikeAttraction"}}
    {{/if}}
  {{/if}}
{{/each}}

<!-- {{attraction-event viewAttractions="index"}} -->
