<div class="col-xs-10 col-xs-offset-1 white-background-div">
  <br />
  <h1>Are you sure you want to delete your account?</h1>
  <h4>Your information may be unrecoverable.</h4>

  <br /><br /><br />
    <button type="cancel" class="btn btn-lg btn-danger" {{action "trulyDeleteProfile"}}>
      DELETE ACCOUNT
    </button>

    <br /><br />

    <button type="cancel" class="btn btn-warning" {{action "signOut"}}>
      Just Sign Out For Now
    </button>

    <button type="cancel" class="btn btn-info" {{action "back"}}>
      Cancel
    </button>
  <br /><br /><br />

</div>
