<h2>People</h2>
<br />

{{#each model as |user|}}
  {{person-profile
    user=user
    profile=false
    requestFriend="requestFriend"
    viewProfile="viewProfile"
    unRequestFriend="unRequestFriend"}}
{{/each}}
<br />
