<h2>Example Attraction Categories:</h2>

<br />
<br />
<ul>
  {{#each model as |attractionCategory|}}
    <li>
      <strong>{{attractionCategory.attraction.title}}</strong>
      in
      <strong>{{attractionCategory.attraction.city_name}}</strong>
      is in the
      <strong>{{attractionCategory.category.label}}</strong>
      category.
    </li>
  {{/each}}
</ul>
